<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="baseUrl" value="http://dummy.restapiexample.com"/>
    <add key="UserName" value=""/>
    <add key="Password" value=""/>
    <add key="url" value="http://ztestqa.com/selenium/mainpage.html"/>
  </appSettings>
</configuration>